<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style rel="stylesheet">
        .navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 75px;
            background-color: lightgrey;
            margin-bottom: 50px;
        }

        .link {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<nav class="nav">
    <div class="navbar">
        <a href="{% url 'list' %}">
            <div class="link">List</div>
        </a>

        <a href="{% url 'add' %}">
            <div>Add</div>
        </a>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>